body{
    padding: 50px 20%;
    color: blueviolet;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
section[hidden]{
    display: none;
}
button, select{
background-color: white;
border-radius: 10px;
border: 1px solid blueviolet;
padding: 2px 5px;
color: darkseagreen;
font-weight: bold;
cursor: pointer;
}